html,body{
	height: 100%;
	overflow: hidden;
}
body{
	font: 13px Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
}

.chat-wrapper{
	background: #282F33;
	height: 100%;
	overflow: hidden;
}

.chat-wrapper .chat-window{
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
	height: 100%;
	min-width: 300px;
	background: #FFF;
	margin:5px;
}
.chat-wrapper .chat-window.gaben{
	background: #FFF url('../images/K6tB7.jpg');
}
.chat-wrapper .chat-window ul{
	margin: 0px;
	padding: 5px;
}
.chat-wrapper .chat-window ul li{
	display: table-row;
	word-wrap: break-word;
	list-style: none;
}
.chat-wrapper .chat-window ul li span{
	display: table-cell;
	padding: 3px 0;
	vertical-align: top;
}
.chat-wrapper .chat-window ul li .time{
	color: #d0dbe2;
	text-align: right;
	width: 46px;
	min-width: 46px;
}
.chat-wrapper .chat-window ul li .from{
	border-right: 1px solid #f6f6f6;
	color: #F59038;
	padding: 3px 10px;
	text-align: right;
	width: 134px;
	min-width: 134px;
	max-width: 150px;
}
.chat-wrapper .chat-window ul li .text{
	padding-left: 10px;
	padding-right: 6px;
}

.chat-wrapper .chat-window ul li.status .from{
	color:#838383;
}

.chat-wrapper .chat-input{
	background: #282F33;
	bottom: 0;
	height: 45px;
	left: 0;
	position: absolute;
	right: 0px;
	z-index: 1;
}
.chat-wrapper .chat-input .chat-input-wrapper{
	padding: 5px;
	margin-bottom: 0px;
}
.chat-wrapper .chat-input input{
	border: 1px solid #cfdae1;
	font: 13px Consolas, monospace;
	border-radius: 2px;
	height: 35px;
	outline: none;
	padding: 0 12px;
	-webkit-appearance: none;
	width: 100%;
}

.chat-wrapper .chat-userlist{
	width: 200;
	height: 100%;
	float: right;
	color:#FFF;
}
.chat-wrapper .chat-userlist ul{
	padding: 0px;
	margin: 5px 10px;
	list-style: none;
}
.chat-wrapper .chat-userlist ul li{
	margin-bottom: 5px;
	color:#F59038;
}
.chat-wrapper .chat-userlist ul li.user0{
	color:#838383;
	cursor:pointer;
}

@media only screen and (max-width: 767px) {
	.chat-wrapper .chat-userlist{
		display: none;
	}
}

@media only screen and (max-width: 479px) {
	.chat-wrapper .chat-window ul li .time, .chat-wrapper .chat-window ul li .from{
		width:50%;
	}
}
