html,body{
	height: 100%;
	overflow: hidden;
}
body{
	font: 13px Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
}

.chat-wrapper{
	background: #282F33;
	height: 100%;
	overflow: hidden;
}

.chat-wrapper .chat-window{
	overflow-y: scroll;
	-webkit-overflow-scrolling:touch;
	height: 100%;
	min-width: 300px;
	background: #FFF;
	margin:5px;
}
.chat-wrapper .chat-window.gaben{
	background: #FFF url('../images/K6tB7.jpg');
}
.chat-wrapper .chat-window ul{
	margin: 0px;
	padding: 5px;
}
.chat-wrapper .chat-window ul li{
	display: table-row;
	word-wrap: break-word;
	list-style: none;
}
.chat-wrapper .chat-window ul li span{
	display: table-cell;
	padding: 3px 0;
	vertical-align: top;
}
.chat-wrapper .chat-window ul li .time{
	color: #d0dbe2;
	text-align: right;
	width: 46px;
	min-width: 46px;
}
.chat-wrapper .chat-window ul li .from{
	border-right: 1px solid #f6f6f6;
	color: #F59038;
	padding: 3px 10px;
	text-align: right;
	width: 134px;
	min-width: 134px;
	max-width: 150px;
}
.chat-wrapper .chat-window ul li .text{
	padding-left: 10px;
	padding-right: 6px;
	word-break: break-all;
}

.chat-wrapper .chat-window ul li .text img{
	display: block;
	max-width:200px;
	max-width:200px;
	border:1px solid #282F33;
}

.chat-wrapper .chat-window ul li.status .from{
	color: #838383;
}
.chat-wrapper .chat-window ul li.private .from{
	color: #2196F3;
}

.chat-wrapper .chat-input{
	background: #282F33;
	bottom: 0;
	height: 45px;
	left: 0;
	position: absolute;
	right: 0px;
	z-index: 1;
}
.chat-wrapper .chat-input .chat-input-wrapper{
	margin: 5px;
	background: #FFF;
	border: 1px solid #cfdae1;
	font: 13px Consolas, monospace;
}
.chat-wrapper .chat-input .chat-target{
	float: left;
	color: #CCC;
	width: 5%;
	text-align: center;
	font-size: 15px;
	padding: 8px 0px 8px 5px;
}
.chat-wrapper .chat-input input{
	border-radius: 2px;
	height: 35px;
	outline: none;
	padding: 0 12px 0px 6px;
	border: 0px;
	-webkit-appearance: none;
	width: 95%;
	float: right;
}

.chat-wrapper .chat-userlist{
	position: relative;
	width: 200;
	height: 100%;
	float: right;
	color:#FFF;
}
.chat-wrapper .chat-userlist ul{
	padding: 0px;
	margin: 5px 10px;
	list-style: none;
}
.chat-wrapper .chat-userlist ul li{
	margin-bottom: 5px;
	color:#F59038;
}
.chat-wrapper .chat-userlist ul li .lastActive{
	color: #5F5F5F;
	font-size: 11px;
}
.chat-wrapper .chat-userlist ul li.user0{
	color:#838383;
	cursor:pointer;
}
.chat-wrapper .chat-userlist-icons{
	position: absolute;
	bottom: 50px;
	right: 0px;
	width: 95%;
}
.chat-wrapper .chat-userlist-icons i{
	cursor: pointer;
    font-size: 24px;
    width: 24px;
}
.chat-wrapper .chat-userlist-icons i.disabled{
	color: #616161;
}


.ui-menu{
    background: #32393E;
    color: #FFF;
    margin-top: -2px;
}
.ui-menu .ui-menu-item{
	padding: 5px 10px;
}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active{
	color: #F59038;
	margin: 0px;
}

.clear, .clearfix:after{
	content: ' ';
	display: block;
	width: 0px;
	height: 0px;
	overflow: hidden;
	clear: both;
}

#editorWindow{
	height:600px;
	overflow:hidden;
}

#random{
	height:600px;
}

#editor {
        position:relative;
        width:90%;
        height:70%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        font-size:16px;
    }

@media only screen and (max-width: 767px) {
	.chat-wrapper .chat-userlist{
		display: none;
	}
}

@media only screen and (max-width: 479px) {
	.chat-wrapper .chat-window ul li{
		display: block;
	}
	.chat-wrapper .chat-window ul li span{
		display: block;
	}
	.chat-wrapper .chat-window ul li .from{
		float: left;
	    text-align: left;
	    border-right: 0px;
	    width: 50%;
	}
	.chat-wrapper .chat-window ul li .time{
		float: right;
		width: 50%;
	}
	.chat-wrapper .chat-window ul li .text{
		clear: both;
	}

	.chat-wrapper .chat-window ul li iframe{
		width: 100%;
	}

}
@media only screen and (max-width: 479px) {

}
